html {
    font-size: 14px;
    font-family: Montserrat;
    color: hsl(212, 21%, 14%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

.card {
    min-width: 550px;
    width: 30%;
    height: 25%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10%;
    overflow: hidden;
}

.image {
    background-image: url("./images/image-product-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 50%;
    min-height: 400px;
}

.text-block {
    padding: 25px;
}

h1 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: hsl(228, 12%, 48%);
}

h2 {
    font-size: 2.3rem;
    font-family: Fraunces;
    font-weight: 900;
    line-height: 2.3rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

.prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.new-price {
    font-size: 2rem;
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin: 0px;
    
}

.old-price {
    font-size: 1rem;
    text-decoration: line-through;
    padding-left: 1.5rem;
    margin: 0px;
}

button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(30, 38%, 92%);
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
}

.material-symbols-outlined {
    padding-right: 5px;
    font-size: 1rem !important;
    font-weight: 500 !important;
}



@media only screen and (max-width: 375px) {
    .image {
        background-image: url("./images/image-product-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
    }

    .card {
        flex-direction: column;
        min-width: 90%;
    }
}


.attribution { padding-top: 10px; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }